body {
  background-color: #e3e3e3;
}

.characters {
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 35px;
  border-radius: 15px;
  cursor: pointer;
}

.card-description {

}

.card-img {
  width: 100%;
  border-radius: 15px;
}

#search-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin-left: 20px;
}

#searchInput {
  width: 100%;
  height: 48.5px;
  margin-top: 20px;
  background-color: white;
  border: solid 1px grey;
}

#searchInput {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#submitSearch {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#search-filter-select, #submitSearch {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: white;
  border: solid 1px grey;
}


/* BUTTON */
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 5 */
.btn-5 {
  width: 200px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5.orange {
  background: rgb(255,27,0);
}
.btn-5.purple {
  background: rgb(114, 1, 110);
}
.btn-5.blue {
  background: rgb(16, 0, 161);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}



/* INPUT STYLE */
/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom: 50px;
}
input, select {
  font-size:18px;
  padding: 0 10px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
label {
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#submitSearch{
  border: 1px solid gray;
  padding: 5px;
  margin-left: 0;
}

/* TITLE */
.title{
  font-weight: 800;
  color: transparent;
  font-size:120px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;
}



/* DESIGN CARD EPISODES */

.card-character {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 60%;
  margin: 35px auto 35px auto;
  border-radius: 15px;
  cursor: pointer;
  background: #FFF9EF;
  border: 1px solid black;
}

.card-body-character{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
        
.character-img img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 5px;
}

.card-header-character{
    font-weight: 550;
    font-size: 1.2em;
    padding: 10px 0px;
    background: #C5A97B;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.character-div{
    display:flex;
    width: 100%;
    justify-content:flex-start;
    flex-wrap:wrap;
}