.characters {
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 35px;
  border-radius: 15px;
}

.card-description {

}

.card-img {
  width: 100%;
  border-radius: 15px;
}